nav {
    background-color: #5acce0;
    padding: 10px 0;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
nav ul li a.active {
    background-color: #4CAF50;
}

nav ul li a:hover {
    background-color: #555;
}
